* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #29c0f3;
}

.question,
.skills,
.about,
.job-interest{
	display: none;
	
}


.question-appear,
.skills-appear,
.about-appear,
.job-interest-appear{
	display: block;
}

.wrapper {
	margin: 0 20vw;
	background-color: white;
}

textarea {
	resize: none;
	width: 100%;
	
}

/* .btn-primary {
	background-color: #29c0f3;
	color: white;
	border: none;
	padding: 10px 30px;
	font-size: 24px;
} */

.btn-primary{
    background-color: #29c0f3 !important;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #4ca1bd !important;
}
