* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #29c0f3;
}

.question {
	display: none;

}


.question-appear,
.skills-appear,
.about-appear,
.job-interest-appear{
	display: block;


}

.question-top {
padding: 20px 0 15px 0;
}

.wrapper {
	margin: 0 20vw;
	background-color: white;
}

textarea {
	resize: none;
	width: 100%;
	
}

 .btn-primary {
	background-color: #29c0f3;
	color: white;
	border: none;
	padding: 10px 30px;
	font-size: 24px;
} 


.btn-primary:hover {
    background-color: #4ca1bd !important;
}

.disable {
	background-color: #084cf7;
	transition: .1s;
}


.sticky {
	position: sticky;
	top: 0;
}

footer {
	background-color: #29c0f3;
}