* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #29c0f3;
}

.question {
	display: none;
}


.question-appear,
.skills-appear,
.about-appear,
.job-interest-appear{
	display: block;
}

.wrapper {
	margin: 0 20vw;
	background-color: white;
}

textarea {
	resize: none;
	width: 100%;
	
}

/* .btn-primary {
	background-color: #29c0f3;
	color: white;
	border: none;
	padding: 10px 30px;
	font-size: 24px;
<<<<<<< HEAD:css/style.css
} */

.btn-primary{
    background-color: #29c0f3 !important;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #4ca1bd !important;
=======
	margin: 30px 0 50px 0;
>>>>>>> origin/main:employee-survey/css/style.css
}

.disable {
	background-color: #084cf7;
	transform: scale(1.001);
	transition: .1s;
}